# Copia este archivo como ".env" (mismo directorio, junto al .exe compilado)
# y completa los valores reales. ".env" nunca se sube a git (ver .gitignore).

# Puerto donde escucha el servidor NexoPago
dmvc.server.port=8080

# Conexion FireDAC a Firebird (NEXOPAGODB.FDB)
database.path=F:\Proyectos\NexoPago\DataBase\NEXOPAGODB.FDB
database.user=SYSDBA
database.password=
database.charset=UTF8
